/*P { font-family: Tahoma, Verdana, Arial,sans-serif; font-size:12px }
TD { font-family: Tahoma, Verdana, Arial,sans-serif; font-size:12px }
TH { font-family: Tahoma, Verdana, Arial,sans-serif; font-size:12px; background-color:#E1C08B  }
A:link {text-decoration: none; color: #604208;  font-family: Tahoma, Verdana, Arial,sans-serif}
A:visited {text-decoration: none; color: #604208;  font-family: Tahoma, Verdana, Arial,sans-serif}
A:active {text-decoration: UNDERLINE; color: yellow;font-family: Tahoma, Verdana, Arial,sans-serif}
A:hover { text-decoration: UNDERLINE; color: white; font-family: Tahoma, Verdana, Arial,sans-serif; }*/

.sinborder {
    border-top: solid 0;
    border-left: solid 0;
    border-bottom: solid 0;
    border-right: solid 0;
}

/*************
 *   body    *
 ************/

/*body
{
    color                 :	#000000;
    background-color      : #E1C08B;
	margin-left           : 2;
	*//*margin-top            : 2;*//*
}

.menu{
border:1px solid #000000;
background-color: #e4cfa2;
}*/

/******************************
*    class used to display   *
*    the input field labels  *
*****************************/
P.LABEL {
    color: #FFFFFF;
    font-weight: bold;
}

TH.LABEL {
    text-align: center;
}

TH.LIST {
    background-color: #E1C08B;
}

H3 {
    color: #FFFFFF;
}

PANEL.TABLE {
    color: #000000;
    background-color: #E1C08B;
    margin-left: 2px;
    margin-top: 2px; /*background-color   : #E4CFA2;*/
}

PANEL.FORM {
    color: #000000;
    background-color: #E1C08B;
}

/*******************************************
 * class for the title of the subscription *
 ******************************************/
P.SUBSCRIPTION {
    color: #FFFFFF;
    font-family: arial;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
}

/********************************************************
* color of the thin line surrounding the subscriptions *
*******************************************************/
TABLE.SUBSCRIPTION {
    background-color: #000000;
}

/*************************
* class for the headers *
************************/
TH.SUBSCRIPTION {
    color: #FFFFFF;
    background-color: #274465;
    font-weight: bold;
}

/*******************************
* class for the subscriptions *
******************************/
TD.SUBSCRIPTION {
    color: #FFFFFF;
    background-color: #336699;
}

P.SUBS {
    color: #FFFFFF;
    font-family: arial;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
}

TABLE.SUBS {
    background-color: #274465;
    border-collapse: collapse;
}

TABLE.subs2 {
    background-color: #000000;
}

TH.SUBS {
    color: #FFFFFF;
    background-color: #274465;
    font-weight: bold;
    text-align: left;
    font-size: 16px;
    font-family: arial;
}

TR.SUBS {
    background-color: #3366A3;
}

TD.SUBS {
    color: #FFFFFF;
    background-color: #3366A3;
}

/*******************************
*  background color to use to *
*  display the errors         *
******************************/
TD.ERROR {
    background-color: #ED4F50;
}

/***********************************************
 * color of the thin line surrounding the form *
 **********************************************/
TABLE.FORM {
    background-color: #000000;
}

/**************************************
* background color of the form title *
*************************************/
TH.FORM {
    color: #FFFFFF;
    background-color: #274465;
    font-weight: bold;
}

/********************************
* background color of the form *
*******************************/
TD.FORM {
    background-color: #336699;
}

/*
 * Style for the fixed header collection example.
 */
TABLE.COL {
    background-color: #336699;
    text-align: center;
}

TH.COL {
    background: #fff url(/images/background-pergamino.jpg) top left;
    height: 120px;

    /*
        color: #FFFFFF;
        background-color: #E1C08B;
        text-align: center;
    */
}

TH.COLRED {
    color: #FFFFFF;
    background-color: #E1C08B;
    text-align: center;
}

TH.COL2 {
    background: #fff url(/images/background-pergamino.jpg) top left;
    height: 120px;

    /*
        color: #FFFFFF;
        background-color: #E1C08B;
        text-align: center;
    */
}

TD.COL {
    background-color: #E4CFA2;
    text-align: center;
}

TD.COL2 {
    background-color: #E4CFA2;
    text-align: left;
}

TD.COLRED {
    background-color: #E4CFA2;
    color: RED;
    text-align: center;
}

TD.PAGER {
    background-color: #E1C08B;
    text-align: center;
}

.ongletMain {
    BORDER-RIGHT: #999999 2px solid; /*BORDER-TOP: medium none;*/
    BORDER-LEFT: #999999 2px solid;
    BORDER-BOTTOM: #999999 2px solid;
    BACKGROUND-COLOR: #E1C08B;
    margin: 0 auto;
}

.clsAction {
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: #053c6d;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}

.ongletTextEna a {
    width: 16em;
    color: #666666;
    font-weight: bold;
    line-height: 1.1em;
    BORDER-LEFT: none;
    border-right: none;
}

.ongletTextEna {
    BORDER-RIGHT: #999999 2px solid;
    BORDER-TOP: #999999 2px solid;
    BORDER-LEFT: #999999 2px solid;
    BORDER-BOTTOM: medium none;
    BACKGROUND-COLOR: #E1C08B;
    TEXT-ALIGN: center;
}

.ongletTextDis a {
    width: 16em;
    color: black;
    line-height: 1.1em;
    BORDER-LEFT: none;
    border-right: none;
    border-bottom: none;
}

.ongletTextDis {
    BORDER-RIGHT: #c5c5c5 1px solid;
    BORDER-TOP: #c5c5c5 1px solid;
    BORDER-LEFT: #c5c5c5 1px solid;
    BORDER-BOTTOM: #999999 2px solid;
    BACKGROUND-COLOR: #996633;
}

.ongletTextErr {
    BORDER-RIGHT: #c5c5c5 1px solid;
    BORDER-TOP: #c5c5c5 1px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    BORDER-LEFT: #c5c5c5 1px solid;
    COLOR: #FFFFFF;
    BORDER-BOTTOM: #80add6 2px solid;
    FONT-FAMILY: verdana;
    BACKGROUND-COLOR: #ED4F50;
    TEXT-ALIGN: center;
}

.ongletMiddle {
    BORDER-RIGHT: #999999 2px solid;
    BORDER-TOP: medium none;
    FONT-SIZE: 1px;
    BORDER-LEFT: #999999 2px solid;
    BORDER-BOTTOM: medium none;
    BACKGROUND-COLOR: #E1C08B;
}

.ongletSpace {
    BORDER-BOTTOM: #999999 2px solid;
}

/**
 * Calendar classes
 */

TD.CALENDRIER {
    background-color: #C2C2C2;
    font-weight: bold;
    text-align: center;
    font-size: 10px;
}

A.CALENDRIER {
    text-decoration: none;
    color: #000000;
}

.CALENDARBORDER {
    background-color: #000000;
}

.CALENDARTITLE {
    background-color: #336699;
/ / #C9252C;
}

.CALENDARWEEK {
    background-color: #FFFFFF;
}

.CALENDARWEEKEND {
    background-color: #FFF4E5;
}

.CALENDARSELECTED {
    background-color: #FF8F01;
}

/*/------------------------------------------------------------------\*/
/*|                                                                  |*/
/*|                      SUGGEST                    				 |*/
/*|                                                                  |*/
/*\------------------------------------------------------------------/*/

div.suggestionList {
    z-index: 500;
    position: absolute;
    width: 150px;
    border: 1px solid #333333;
    background-color: #ffffff;
    font-family: Tahoma;
    font-size: 11px;
    cursor: default;
    visibility: hidden;
}

div.suggestionList_element_off {
    width: 148px;
    background: #ffffff;
    color: #333333;
    padding-left: 2px;
}

div.suggestionList_element_on {
    width: 148px;
    background: #6D99C6;
    color: #ffffff;
    padding-left: 2px;
}

