/* CSS */

.popup {
	width:1px;
	padding: 0px 0px 5px 0px;
}

.tablaDentroPopup {
	width:1px;
	padding: 5px 5px 0px 5px;
}

tr .fondoPopup  {
	text-align: center;
	background-color: #780A00;
	padding:0px;
	height: 20px;
	padding-top: 2px;
    border:1px;
}
tbody .fondoPopup {
    border:1px;
}
.popupExterno {
	padding:0px 0px 0px 0px;
	position:absolute;
	visibility:hidden;
	z-index:1000;
	border:1px solid black;
	background-color:#f4f4f4;
}